@model List<Creators.Creators.Models.DonateUserForView>
@section Styles {
    <link rel="stylesheet" href="~/css/donate.css" />
}

@{
    ViewData["Title"] = $"Check my donates";
}


<div class="donate-container-info">

    <h2>My Donates</h2>

    <div class="donate-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var donate in Model.OrderByDescending(d => d.DateTime))
                {
                    <div class="donate-item">
                        <li>
                            <p>@donate.Creator - @donate.DateTime.ToString("yyyy-MM-dd HH:mm")</p>
                            <p><strong>@donate.Count @donate.Currency</strong></p>
                        </li>
                    </div>
                }
            </ul>
        }
        else
        {
            <div class="donate-info">
                <p>You haven't made any donations yet.</p>
            </div>
        }
    </div>
</div>




