#chat-container {
    min-width: 700px;
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(45, 48, 50);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: flex-start; 
    overflow-y: auto;
    height: 800px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
}
 






.chat-message-box-me {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
}

.chat-message-box-friend {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
}


.chat-message-me {
    align-self: flex-end;
    background-color: rgb(32, 35, 36);
    min-width: 100px;
    min-height: 80px;
    color: white;
    padding: 10px 15px; 
    border-radius: 10px;
    max-width: 60%; 
    white-space: normal; 
}

    .chat-message-friend p {
        align-self: flex-start;
        font-weight: bold;
        margin: 0;
        color: rgb(255, 102, 0); 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
     
.chat-message-friend {
    align-self: flex-start;
    background-color: rgb(40, 40, 45);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 60%;
    white-space: normal; 
}
  
    .chat-message-me p {
        font-weight: bold;
        margin: 0;
        color: rgb(0, 150, 255);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 


     





.message-actions {
    margin-top: 5px;
    text-align: right;
}

    .message-actions form {
        display: inline-block;
    }

.btn-danger {
    background-color: rgb(200, 50, 50);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-danger:hover {
        background-color: rgb(180, 40, 40);
    }

.chat-info {
    text-align: center;
    margin: 20px 0;
    color: rgb(255, 255, 255);
}

.chat-message-form {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    background-color: rgb(32, 35, 36);
    border-radius: 10px;
    margin-top: 10px;
}


.chat-message-form button {
    margin: 15px;
}










.chat-container-info {
    min-width: 400px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(45, 48, 50);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.chat-item { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

.chat-info {
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}


.chat-button {
    margin-left: 15px;
    padding: 5px 10px;
    width: 55px;
    height: 55px;
    background-color: rgb(0, 122, 204);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    align-content: center;
}

    .chat-button:hover {
        background-color: rgb(0, 102, 184);
    }


input {
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 63, 65);
    color: white;
    border: 1px solid rgb(75, 78, 80);
    border-radius: 4px;
    transition: all 0.3s ease;
}

    input:focus,
    input:hover {
        background-color: white;
        color: black;
        border-color: rgb(100, 150, 250);
    }


.chat-form {
    margin: 10px;
    width: 100%;
    max-width: 500px;
    background-color: rgb(45, 48, 50);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-info {
    margin: 5px;
    width: 100%;
    max-width: 500px;
    background-color: rgb(60, 63, 65);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



label { 
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.btn-danger {
    background-color: rgb(220, 53, 69);
    color: white;
}

    .btn-danger:hover {
        background-color: rgb(200, 43, 59);
    }







