@model List<Creators.Creators.Database.Blocklist>;


@foreach(var block in Model)
{
    <p>@block.UserName</p>
    <form method="post" asp-action="UnblockUser" asp-controller="Chat">
        <input type="hidden" name="Id" value="@block.Id" />

        <button type="submit">Unblock</button>
    </form>
    <br />
    <br />
    <br />
}