@model List<Creators.Creators.Database.Chats>

@section Styles {
    <link rel="stylesheet" href="~/css/chats.css" />
}

@{
    ViewData["Title"] = "My chats";
}

<div class="chat-container-info">
    <h2>Chats</h2>

    @if (Model.Any())
    {
        <ul class="chat-list">
            @foreach (var chat in Model)
            {
                <li class="chat-item">

                    @if(chat.User1 == ViewBag.UserName)
                    {
                        <div class="chat-info">
                            <p>@chat.User2</p>
                        </div>
    
                        <a href="@Url.Action("Chat", "Chat", new { Id = chat.Id })" class="chat-button">Chat</a>
                    }
                    else
                    {
                        <div class="chat-info">
                            <p>@chat.User1</p>
                        </div>

                        <a href="@Url.Action("Chat", "Chat", new { Id = chat.Id })" class="chat-button">Chat</a>
                    }


                    <hr />
                </li>
            }
        </ul>

    }
    else
    {
        <p>No chats found.</p>
    }
</div>

