@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Become Creator";
}


<div class="creator-container-info">
     <div class="creator-info">
        <h1>
            Supporting Creators in Connecting with Their Fans
        </h1>
        <p>
            Our platform is designed to help creators build close relationships with
            their fans. We offer a range of tools that facilitate interaction and
            engagement, making it easier for creators to stay connected with their
            audience.
        </p>
    </div>
    <div class="creator-info">
        <h2 >Live Chats</h2>
        <p class="becomecreator-description">
            Creators can engage in real-time conversations with their fans, answer
            questions, and interact dynamically. Live chats make it possible for
            creators to foster a more personal connection with their audience.
        </p>
    </div>
    <div class="creator-info">
        <h2 >Photo Posts</h2>
        <p class="becomecreator-description">
            Share behind-the-scenes moments, daily life, and exclusive content with
            fans. Photos offer a glimpse into the creator's world, enhancing the
            connection between them and their followers.
        </p>
    </div>
    <div class="creator-info">
        <h2 >Event Calendars</h2>
        <p class="becomecreator-description">
            Inform fans about upcoming events, releases, meetups, or tours with our
            event calendar feature. Fans can stay updated on what’s happening and
            never miss an important moment.
        </p>
    </div>
    <div class="creator-info">
        <h2 >Donations</h2>
        <p class="becomecreator-description">
            Creators can accept donations from fans who want to support their work.
            This feature allows followers to contribute directly, helping creators
            fund their projects and continue creating content they love. Donating is a
            powerful way for fans to show appreciation and help their favorite
            creators thrive.
        </p>
    </div>

    <a href="@Url.Action("BecomeCreatorRegisterPlatform", "Creator")" class="btn btn-secondary">Become Creator</a>

</div>
