<div class="form-container">
    <form id="creatorRegisterForm" method="post" asp-action="BecomeCreatorRegisterPlatform" asp-controller="Creator">
        <div class="form-group">
            <label for="accountNumber">Account Number:</label>
            <input type="text" id="accountNumber" name="AccountNumber" maxlength="20" required placeholder="Enter Account Number" />
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="Description" rows="4" maxlength="500" required placeholder="Describe what to expect from your content and something about you"></textarea>
        </div>

        <div class="form-group">
            <label for="profileImage">Profile Image URL:</label>
            <input type="url" id="profileImage" name="ProfileImage" required placeholder="Enter Profile Image URL" />
        </div>

        <div class="form-group">
            <label>Receive Notifications:</label>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" id="NotifyImages" name="NotifyImages" value="true" checked/>
                    Notify about new photos
                </label>
                <label>
                    <input type="checkbox" id="NotifyEvents" name="NotifyEvents" value="true" checked/>
                    Notify about new events
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="bioLinks">Bio Links:</label>
            <input type="text" id="bioLinks" name="BioLinks" placeholder="Enter Bio Links (comma separated)" />
        </div>

        <button type="submit" class="btn btn-primary">Start you site</button>
    </form>
</div>