<h1>Registration Problem</h1>
<p>Unfortunately, there was a problem with the registration of the page.</p>
<p>Please try again and ensure that all the data you have entered is correct.</p>
<p>If the issue persists, you may want to contact support for further assistance.</p>
<a href="@Url.Action("BecomeCreatorRegisterPlatform", "Creator")">click here</a>.
