@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Not creator";
}



<div class="creator-container-info">
    <div class="creator-info">
        <p>You are currently logged in, but you are not a registered creator on our platform.</p>
        <p>If you would like to become a creator and share your content with others, please consider joining our platform as a creator.</p>
        <a href="@Url.Action("BecomeCreator", "Creator")" class="btn btn-primary">Join as a Creator</a>

        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Return to Home</a>
    </div>
</div>


