@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Page exist";
}


<div class="creator-container-info">
    <div class="creator-info">
        <h1>Page Already Exists</h1>
        <p>It appears that the page you are trying to register already exists. You can view it at the following link</p>
        <a href="@Url.Action("ShowPage", "Creator", new { Id_Creator = ViewBag.Id_Creator })">click here</a></p>
    </div>
</div>