<div class="pageexist-container">
    <h1>Page Already Exists</h1>
    <p>It appears that the page you are trying to register already exists. You can view it at the following link:</p>
    <a href="@Url.Action("ShowPage", "Account", new { Id_Creator = ViewBag.Id_Creator })">click here</a>.</p>
</div>