@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Search creator";
}


<div class="creator-container-info">
    <div class="creator-form">
        <form method="get" asp-action="SearchCreatorResult" asp-controller="Creator">
            <label for="profileName">Find user:</label>
            <input id="profileName" name="ProfileName" type="text" minlength="5" maxlength="20" pattern="[A-Za-z]+" required placeholder="Enter creator nick" />

            <button type="submit" class="btn btn-primary">Search creator</button>
        </form>
    </div>
</<div>