@model List<Creators.Creators.Models.CreatorsSearch>

@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Found creators";
}

<div class="creator-container-info">
    <h2>Find Creators</h2>

    <ul class="creator-list">

        @if (Model.Any())
        {
            @foreach (var creator in Model)
            {
                <li class="creator-item">
                    <div class="creator-info">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@creator.ProfilPicture)"
                             alt="Profile Picture"
                             style="max-width: 80px; width: auto; height: auto;"
                             onerror="this.src='/images/default-profile.jpg';" />

                        <p>@creator.ProfileName</p>
                    </div>
                    <a href="@Url.Action("ShowPage", "Creator", new { Id_Creator = creator.Id_Creator })">Go to Page</a>
                </li>
            }
        }
        else
        {
            <p>No results found.</p>
            <a href="@Url.Action("SearchCreator", "Creator")">Back to search</a>
        }
    </ul>
</div>
