<div class="thank-you-container">
    <h1>Thank You!</h1>
    <p>Thank you for using our platform and supporting its growth. We’re excited to have you with us!</p>
    <p>You can view your page at the following link:, <a href="@Url.Action("ShowPage", "Creator", new { Id_Creator = ViewBag.Id_Creator })">click here</a>.</p>
</div>