@model Creators.Creators.Models.CreatorPageShow

@section Styles {
    <link rel="stylesheet" href="~/css/creator.css" />
}

@{
    ViewData["Title"] = "Update account";
}


<div class="creator-container-info">
    <div class="creator-info">
        <form id="updatePageForm" method="post" asp-action="UpdatePageAccountNumberRequest" asp-controller="Creator">

            <div class="form-group">
                <label for="accountNumber">Account Number:</label>
                <input type="text" id="accountNumber" name="AccountNumber" value="@Model.AccountNumber" maxlength="40" pattern="\d+" required />
            </div>

            <button type="submit" class="btn btn-primary">Update Account Number</button>
        </form>
    </div>
</div>