@model List<Creators.Creators.Database.Followers>

@section Styles {
    <link rel="stylesheet" href="~/css/follower.css" />
}

@{
    ViewData["Title"] = "Creator following";
}


<div class="container-followers">
    <div class="followers-list">
        <h2>Followers</h2>

        @if (Model.Any())
        {
            <ul class="followers-list">
                @foreach (var follower in Model.OrderByDescending(a => a.Since))
                {
                    <li class="follower-item">
                        <div class="follower-info">
                            <span class="profile-name">@follower.ProfileName</span>
                            <span class="since-date">Since: @follower.Since.ToString("dd.MM.yyyy")</span>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No followers found.</p>
        }
    </div>
</div>


