@model List<Creators.Creators.Database.Followers>

@section Styles {
    <link rel="stylesheet" href="~/css/follower.css" />
}

@{
    ViewData["Title"] = "Follows";
}


<div class="container-followers">
    <div class="followers-list">
        <h2>Following Creators</h2>

        @if (Model.Any())
        {
            <ul class="followers-list">
                @foreach (var following in Model.OrderByDescending(a => a.Since))
                {
                    <li class="follower-item">
                        <div class="follower-info">
                            <span class="profile-name">@following.CreatorName</span>
                            <span class="since-date">Since: @following.Since.ToString("dd.MM.yyyy")</span>
                        </div>
                        <a href="@Url.Action("ShowPage", "Creator", new { Id_Creator = following.Id_Creator })" class="follow-button">Page</a>
                    </li>
                }
            </ul>

        }
        else
        {
            <p>No followers found.</p>
        }
    </div>
