@model List<Creators.Creators.Database.Followers>

@section Styles {
    <link rel="stylesheet" href="~/css/followers-creator.css" />
}

<div class="container-followers">
    <h2>Followers</h2>

    @if (Model != null && Model.Count > 0)
    {
        <ul class="followers-list">
            @foreach (var follower in Model)
            {
                <li class="follower-item">
                    <div class="follower-info">
                        <span class="profile-name">@follower.ProfileName</span>
                        <span class="since-date">Since: @follower.Since.ToString("MMMM dd, yyyy")</span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No followers found.</p>
    }
</div>
