@section Styles {
    <link rel="stylesheet" href="~/css/schedule.css" />
}

@{
    ViewData["Title"] = "Error";
}


<div class="container-schedule">
    <h3>Something Went Wrong</h3>
    <p>We encountered an issue while processing your request. Please try again later. </p>
    <p>If the problem persists, contact our technical support team.</p>
</div>