@model List<Creators.Creators.Database.CalendarEvents>

@section Styles {
    <link rel="stylesheet" href="~/css/schedule.css" />
}

@{
    ViewData["Title"] = "Events calendar";
    var currentDate = DateOnly.FromDateTime(DateTime.Now);
    var pastLimit = currentDate.AddMonths(-1);
}

<div class="events-container">
    <h2>Events Calendar</h2>
    <div class="events-list">
        @foreach (var events in Model)
        {
            if (events.DateOnly >= pastLimit)
            {
                <div class="event-info">
                    <div class="event-card">
                        <div class="event-details">
                            <h4>@events.DateOnly.ToString("yyyy-MM-dd")</h4>
                            <h5>@events.Start.ToString(@"hh\:mm") - @events.End.ToString(@"hh\:mm")</h5>
                            <p> @events.Description </p>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
</div>




