@model List<Creators.Creators.Database.PhotoComments>

@section Styles {
    <link rel="stylesheet" href="~/css/photos.css" />
}

@{
    ViewData["Title"] = "Comments";
}


<div class="photo-container-info">

    <h2>Manage Comments</h2>

    <div class="photo-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var comment in Model)
                {
                    <div class="photo-item">
                    <li>
                        <p>@comment.Id_User - @(new DateTime(comment.Date.Year, comment.Date.Month, comment.Date.Day, comment.Time.Hour, comment.Time.Minute, comment.Time.Second).ToString("HH:mm dd-MM-yyyy"))</p>
                            @if (!comment.Hidden)
                            {
                                <p>@comment.Text</p>
                            }
                            else
                            {
                                <p class="hidden-comment">This comment is hidden.</p>
                                <p class="hidden-comment">@comment.Text</p>
                            }

                    </li>
            </div>

                }
        </ul>
        }
        else
        {
        <div class="photo-info">
            <p>No comments available for this creator's photos.</p>
        </div>
        }
    </div>
</div>

