@model List<Creators.Creators.Models.HeartsForUser>

@section Styles {
    <link rel="stylesheet" href="~/css/photos.css" />
}

@{
    ViewData["Title"] = "Likes";
}

<div class="photo-container-info">

    <h2>Likes</h2>

    <div class="photo-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var heart in Model)
                {
                    <div class="photo-item">
                        <li>@heart.User</li>
                    </div>
                }
            </ul>
        }
        else
        {
            <div class="photo-info">
                <p>No users have liked this photo yet.</p>
            </div>
        }
    </div>
</div>





