@model List<Creators.Creators.Database.PhotoHearts>

@section Styles {
    <link rel="stylesheet" href="~/css/photos.css" />
}

@{
    ViewData["Title"] = "Likes";
}


<div class="photo-container-info">

    <h2>Manage Likes</h2>


    <div class="photo-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var heart in Model)
                {
                    <div class="photo-item">
                    <li>@heart.User - @heart.Id_User</li>
            </div>
                }
        </ul>
        }
        else
        {
        <div class="photo-info">
            <p>No likes available for this creator's photos.</p>
        </div>
        }
    </div>
</div>
