@model List<Creators.Creators.Database.CreatorAnnouncement>

@section Styles {
    <link rel="stylesheet" href="~/css/announcement.css" />
}

@{
    ViewData["Title"] = "Creator announcements";
}

<div class="container-announcement">
    <div class="announcement-actions">
        <h2>Announcements</h2>

        @if (Model.Any())
        {
            @foreach (var announcement in Model.OrderByDescending(a => a.DateTime))
            {
                <div class="announcement-user">
                    <p>
                        <strong>@announcement.Creator</strong> 
                        @if (announcement.IsUpdated)
                        {
                            <b>- Updated</b>
                        }

                        - @announcement.DateTime.ToString("dd.MM.yyyy HH:mm")
                    </p>

                    <h3>@announcement.Title</h3>
                    <p>@announcement.Description</p>
                </div>
            }
        }
        else
        {
            <p>No announcements available.</p>
        }
    </div>
</div>

